body {
    font-family: Arial, sans-serif;
    background-color: #d5d0dd;
    color: #eee7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    width: 350px;
    
  }
  
  .input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 200px;
    outline: none;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    background-color: #ec1379;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0288d1;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  li {
    background-color: #2c2c2c;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  li:hover {
    background-color: #f44336;
  }
  
  .clear-btn {
    background-color: #f44336;
    border-radius: 5px;
  }
  
  .clear-btn:hover {
    background-color: #d32f2f;
  }
  